.shop-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3em;
}

.shop-item {
  display: grid;
  grid-template-rows: 1fr 250px 1fr;
  row-gap: 1em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.shop-item-title {
  color: rgb(168, 221, 235);
  border-bottom: 0.5px solid rgb(168, 221, 235);
  font-weight: bold;
}

.shop-item-price {
  font-size: 0.9em;
  padding-right: 5px;
}

.shop-item-img {
  border: 2px solid black;
}
